@import "tailwindcss";


html, body, #root {
  height: 100%;
}

body { background-color: #0f1115; color: #e5e7eb; font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, Cantarell, "Helvetica Neue", Arial; }

:root {
  --bg-main: #0B0B0D;        /* أسود عميق */
  --bg-card: #121216;        /* خلفية الكروت */
  --accent: #8B0E16;         /* Burgundy */
  --accent-soft: #D8B4B8;    /* وردي باودر */
  --text-main: #F3F3F3;      /* أبيض مكسور */
  --text-muted: #A1A1AA;     /* رمادي */
}

@font-face {
  font-family: "Rotochka";
  src: url("/fonts/Rotochka.woff2") format("woff2");
  font-display: swap;
}


.font-accent {
  font-family: "Rotochka", cursive;
}

html, body {
  overflow-x: hidden;
  max-width: 100%;
}
